@import "tailwindcss";
/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000; /* black background */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* dark thumb */
  border-radius: 8px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #333 #000;
}
html {
  scroll-behavior: smooth;
}
/* ::-webkit-scrollbar-track { background: #000; } */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
